$size: 32px;
$orange: #F2994A;
$gray: #BDBDBD;
.h1{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}
@mixin font($family, $size) {
    font-family: $family;
    font-size: $size;
}